
<div *ngIf="ArtistResult"  >
  <ng-container >
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ArtistResult.picture_medium}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ArtistResult.name}}</h5>
        <p class="card-text">Fans: {{ArtistResult.nb_fan}}</p>
        <a href="{{ArtistResult.share}}" class="btn btn-primary">Share</a>
      </div>
    </div>
  
  </ng-container>
     
</div>

<div *ngIf="!ArtistResult" class="content">
  <p>Loading</p>
</div>



