<form [formGroup]="searchArtistForm" (ngSubmit)="submitArtistForm()">



  <mat-form-field floatLabel="never">
    <input formControlName="query" matInput #searchInput="matInput" type="text" placeholder="Search" (focus)="onFocus()"
      autocomplete="off" />
  </mat-form-field>

  <button mat-button type="submit">Search</button>

</form>
<mat-toolbar color="primary">
  <span>Artist Search</span>
  <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
    <span *ngIf="gridColumns === 4">Three Columns</span>
    <span *ngIf="gridColumns === 3">Four Columns</span>
  </button>
</mat-toolbar>

<div class="container">
  <div class="flex-row">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let data of ArtistResultsData">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>{{data.name}} </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{data.picture_big}} alt={{data.id}}>
          <mat-card-content>
            <p>
              Number of Fans: {{data.nb_fan}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="/artist-page/{{data.id}}">VIEW</button>
            <button mat-button (click)=saveToDb(data)>SAVE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>