<form [formGroup]="searchArtistForm" (ngSubmit)="submitArtistForm()">



  <mat-form-field floatLabel="never">
    <input formControlName="query" matInput #searchInput="matInput" type="text" placeholder="Search" (focus)="onFocus()"
      autocomplete="off" />
  </mat-form-field>

  <button mat-button type="submit">Search</button>

</form>
<mat-toolbar color="primary">
  <span>Artist Search</span>
  <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
    <span *ngIf="gridColumns === 4">Three Columns</span>
    <span *ngIf="gridColumns === 3">Four Columns</span>
  </button>
</mat-toolbar>

<div>
  <br>

  <div class="flex-row">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div class="card" [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
        *ngFor="let data of ArtistResultsData">
        <img class="card-img-top" src="{{data.picture_medium}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{data.name}}</h5>
          <p class="card-text">Fans: {{data.nb_fan}}</p>

        </div>
        <div class="card-body">
          <a class="card-link" routerLink="/artist-page/{{data.id}}">View</a>
          <a class="card-link" (click)=saveToDb(data)>Save</a>
        </div>

      </div>

    </div>
  </div>